vendor
node_modules
.git
.gitignore
.env
.DS_Store
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/*
storage/user-images/*
storage/front-end/*
